@import ./styleguide/styleguide
@import ./styleguide/fonts/playfair
@import ./styleguide/fonts/guardian

=reset
	position: relative
	display: block
	margin: 0
	padding: 0
	box-sizing: border-box


.wrapper
	+reset
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: flex-start
	max-width: 90%
	margin: 60px auto
	z-index: 1
	

.tile
	transition: transform 200ms, box-shadow 200ms

.tile
	+reset
	flex-grow: 1
	flex-shrink: 1
	flex-basis: auto
	// min-width: 400px
	// max-width: 600px
	width: 30%
	max-width: 33%
	// height: 400px
	height: 0
	padding-bottom: 30%
	perspective: 100px
	margin: 2px
	transform: scale(1)

.inner
	+reset
	// transition: transform 100ms
	position: absolute
	width: 100%
	height: 100%
	// overflow: hidden
	// box-shadow: 0 4px 8px -4px rgba(0,0,0, 1)

.imgWrapper
	width: 100%
	height: 100%
	overflow: hidden
.image
	+reset
	// transition: transform 400ms, filter 600ms
	width: 100%
	height: 100%
	object-fit: cover
	transform: scale(1.2)
	filter: grayscale(0.2)


.tile:hover
	transform: scale(1.2)
	z-index: 10
	.inner
		// box-shadow: 0 16px 24px -16px rgba(0,0,0, 1)
		// transform: rotateX(10deg)
		border: solid 1px #fff
	.image
		transform: scale(1)
		filter: grayscale(0)
	.overlayContainer
		opacity: 1




.highlight
	+reset
	transition: opacity 200ms
	position: absolute
	top: 0
	left: 0
	// transform: translate3d(-50%, -50%, 0)
	width: 100%
	height: 100%
	opacity: 1
	overflow: hidden

	.disc
		position: absolute
		width: 100%
		height: 100%
		border-radius: 100%
		background: rgba(255,255,255, 0.2)
		filter: blur(40px)
		transform: translate3d(-50%, -50%, 0)
		opacity: 0





.overlayContainer
	+reset
	transition: opacity 300ms 
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	// background: rgba($color-black, 0.3)
	padding: $space-reg
	background: gradient-medium($color-black, bottom)
	opacity: 0
	// transform: translateY(100%)


.title
	+reset
	+playfair-bold
	+text-shadow-1
	color: $color-white
	font-size: $space-lg
	letter-spacing: 1px
	padding: $space-xs 0
	span
		padding: $space-xxs 0
		border-top: solid 1.5px rgba($color-white, 0.4)
		border-bottom: solid 1.5px rgba($color-white, 0.4)




.caption, .credit
	+reset
	+guardian-light
	+text-shadow-1
	color: $color-white
	font-size: $space-reg

.caption
	border-top: solid 1px rgba($color-white, 0.4)
	padding-top: $space-xs
	margin-top: 0

.credit
	border-top: solid 1px rgba($color-white, 0.4)
	color: $color-white
	text-transform: uppercase
	letter-spacing: 1px
	font-size: $space-sm
	padding-top: $space-xs
	margin-top: 0



.title + .credit
	// border-top: solid 1px rgba($color-white, 0.4)
	padding-top: $space-xs

.caption + .credit
	padding-top: 0
	border-top: none
	margin-top: $space-xs


.title + .caption,
.title + .credit,
.caption + .credit
	border: none


// POPUP
.popupContainer
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	z-index: 0

	img
		position: absolute
		top: 0
		left: 0
		width: 100vw
		height: 100vh
		object-fit: contain

[data-active="true"].popupContainer	
	background: $color-black
	.close
		position: absolute
		top: 0
		right: 0
		width: 40px
		height: 40px
		color: $color-white
		line-height: 40px
		text-align: center
		font-family: sans-serif

.popupText
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	padding: 32px
	background: gradient-strong($color-black, bottom)



.prev, .next
	+reset
	color: white
	display: inline-block
	width: 50%
	border: solid 1px lime
	transform: translateY(300px)
	font-size: 40px
.next
	text-align: right